@font-face {
    font-family: "Open Sans";
    src: url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Regular/Open-Sans.eot");
    src: url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Regular/Open-Sans.eot?#iefix") format("embedded-opentype"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Regular/Open-Sans.woff2") format("woff2"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Regular/Open-Sans.woff") format("woff"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Regular/Open-Sans.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Regular/Open-Sans-Italic.eot");
    src: url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Regular/Open-Sans-Italic.eot?#iefix") format("embedded-opentype"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Regular/Open-Sans-Italic.woff2") format("woff2"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Regular/Open-Sans-Italic.woff") format("woff"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Regular/Open-Sans-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Semibold/Open-Sans-Semibold.eot");
    src: url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Semibold/Open-Sans-Semibold.eot?#iefix") format("embedded-opentype"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Semibold/Open-Sans-Semibold.woff2") format("woff2"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Semibold/Open-Sans-Semibold.woff") format("woff"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Semibold/Open-Sans-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Light/Open-Sans-Light.eot");
    src: url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Light/Open-Sans-Light.eot?#iefix") format("embedded-opentype"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Light/Open-Sans-Light.woff2") format("woff2"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Light/Open-Sans-Light.woff") format("woff"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Light/Open-Sans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Light/Open-Sans-Light-Italic.eot");
    src: url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Light/Open-Sans-Light-Italic.eot?#iefix") format("embedded-opentype"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Light/Open-Sans-Light-Italic.woff2") format("woff2"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Light/Open-Sans-Light-Italic.woff") format("woff"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Light/Open-Sans-Light-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 300;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Bold/Open-Sans-Bold.eot");
    src: url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Bold/Open-Sans-Bold.eot?#iefix") format("embedded-opentype"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341771/personal_web/uploads/fonts/Open-Sans/Bold/Open-Sans-Bold.woff2") format("woff2"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341760/personal_web/uploads/fonts/Open-Sans/Bold/Open-Sans-Bold.woff") format("woff"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521341778/personal_web/uploads/fonts/Open-Sans/Bold/Open-Sans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("https://res.cloudinary.com/limononoto/raw/upload/v1521345423/personal_web/uploads/fonts/Open-Sans/Bold/Open-Sans-Bold-Italic.eot.eot");
    src: url("https://res.cloudinary.com/limononoto/raw/upload/v1521345423/personal_web/uploads/fonts/Open-Sans/Bold/Open-Sans-Bold-Italic.eot?#iefix") format("embedded-opentype"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521345360/personal_web/uploads/fonts/Open-Sans/Bold/Open-Sans-Bold-Italic.woff2") format("woff2"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521345371/personal_web/uploads/fonts/Open-Sans/Bold/Open-Sans-Bold-Italic.woff") format("woff"), url("https://res.cloudinary.com/limononoto/raw/upload/v1521345394/personal_web/uploads/fonts/Open-Sans/Bold/Open-Sans-Bold-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 600;
  }
  
  * {
    font-family: "Open sans",Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0px 0px 0px;
  }
  
  *, :after, :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *::before,
  *::after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 100%;
    line-height: 1.15;
    font-variant-ligatures: none;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  }
  
  html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  abbr, address, cite, code,
  del, dfn, em, img, ins, kbd, q, samp,
  small, strong, sub, sup, var,
  b, i,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  main, aside, canvas, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
  }
  
  img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
    vertical-align: middle;
  }
  
  body { 
    background: #ffff; 
    color: rgba(0,0,0,0.87); 
    margin: 0; 
   }
  
   .container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 100px 100px 100px 30px;
    grid-gap: 4px;
   }
   
   header {
    background-color: #f4f5f7;
    grid-column: 1/5;
    padding: 10px;
  }
  
  header .logo {
    max-width: 30px;
  }
  
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
    grid-row: 2/5;
    grid-column: 1/2;
  }
  
  .sidebar .profile {
    width: 160px;
    height: 170px;
  }
  
  .sidebar .profile img {
    object-fit: cover;
  }
  
  .columns {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #fbfbfb;
    grid-column: 2/5;
    font-size: 21px;
  }
  footer {
    padding: 10px;
    background-color: #f4f5f7;
    grid-column: 1/5;
    grid-row: 5/6;
    color: #1d1f1e;
  }
  
  footer p {
    line-height: 1;
    font-size: calc(0.00285*100vw + 10px);
    padding-left: 5px;
  }
  
  .link {
    font-size: calc(.00285*100vw + 18px);
    color: #365899;
    font-weight: 600;
    padding: 0 10px;
    text-decoration: none;
  }
  
  @media only screen and (min-width: 1038px) {
    .container {
    max-width: 1430px;
    font-size: calc(0.00485*0vw + 14.18182px);
    line-height: inherit;
    }
  }